.catalogue {
  overflow-y: hidden;
  overflow-x: hidden;
  max-width: 1600px;
  padding: 0 1rem;
  margin: 0 auto;

  .error-container {
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .no-products {
      font-size: 2rem;
      font-weight: 400;
      color: rgb(155, 155, 155);
    }
  }

  h1 {
    text-align: left;
    color: rgb(92, 92, 92);
    hr {
      border-top: 2px solid rgb(92, 92, 92);
      opacity: 0.2;
    }
  }
}
.upper {
  align-items: space-between;
  justify-content: space-between;
  display: flex;
}
.catalogue-products {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.error-container {
  .no-products {
    display: flex;
    align-items: center;
    justify-content: center;
    p {
      font-weight: 500;
      font-size: 2rem;
      font-style: italic;
      margin-bottom: 0rem;
    }
  }
}
///////
