.user-private-page {
  display: flex;
  height: calc(100vh - 200px);
  overflow-y: hidden;

  .user-private-sidebar {
    box-sizing: border-box;
    height: calc(100vh - 200px);
    min-width: 100px;
    margin: 0;
    padding: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;

    background: white;
    box-shadow: 2px 0px 20px rgba(0, 0, 0, 0.2);

    :first-child .user-sidebar-item {
      border-top: none !important;
    }

    .user-sidebar-section {
      padding: 0 0.5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
      position: relative;
      z-index: 1;

      .user-sidebar-item {
        padding: 0 0.5rem;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        border-top: rgba(147, 38, 131, 1) 1px solid;
        transition: color 0.5s ease;
      }
    }
    .user-sidebar-section::before {
      position: absolute;
      content: '';
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      color: white;
      background-image: linear-gradient(
        180deg,
        rgba(147, 38, 131, 1) 0%,
        rgba(45, 19, 66, 1) 30%,
        rgba(24, 15, 53, 1) 100%
      );
      z-index: -1;
      transition: opacity 0.5s linear;
      opacity: 0;
    }
    .user-sidebar-section:hover {
      color: white;

      & + .user-sidebar-section .user-sidebar-item {
        border-top: none;
      }
    }

    .user-sidebar-section:hover::before {
      color: white;
      opacity: 1;
    }
    .active {
      color: white;
      background: linear-gradient(
        180deg,
        rgba(147, 38, 131, 1) 0%,
        rgba(45, 19, 66, 1) 30%,
        rgba(24, 15, 53, 1) 100%
      );
      & + .user-sidebar-section .user-sidebar-item {
        border-top: none;
      }
    }
  }

  .user-private-content {
    flex-grow: 1;
    height: 100%;
    overflow-y: auto;
  }
}
