// Register modal

#register-fg {
  min-width: 650px;
  height: 500px;
}

#login-fg {
  height: 550px;
}

.modal-field {
  input {
    background-color: transparent !important;
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    box-shadow: 0 0 0 30px white inset !important;
  }
}
