.message-to-seller {
  font-size: $modal-sub-title-size;
  font-weight: $modal-sub-title-weight;
  text-align: start;
  margin-left: $default-element-margin;
  margin-bottom: $default-element-margin;
}

.modal-button {
  align-self: flex-end;
  padding: 0;
  margin: 0;
}

.bid-price-field {
  font-size: 1rem;
  font-style: italic;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: $default-element-margin;
}

#price-bid {
  border-style: none;
  font-size: $modal-price-text-size;
  font-weight: $modal-price-text-weight;
  color: $primary-color;
  text-align: center;
  align-self: center;
  justify-self: center;
  width: 100px;
}

#price-bid::-webkit-outer-spin-button,
#price-bid::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.bid-bg {
  z-index: 1;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  .bid-fg {
    position: fixed;
    z-index: 1;
    padding: 5rem 3rem 1rem 3rem;
    margin: 11rem;
    background-color: white;
    border-radius: 30px;
    box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.4);
    width: 550px;
    height: 550px;
    display: flex;
    flex-direction: column;
    .bid-inputs {
      margin-top: 2rem;
      .container-message {
        .message-bid {
        }
      }
    }
    .price {
      margin: 1rem 0;
    }
    #message-bid {
      height: 200px;
      margin-bottom: $default-element-margin;
      padding: $default-element-margin;
      justify-content: flex-start;
      align-items: flex-start;
      width: 80%;
      border-radius: 1rem;
      border-style: none;
      background-color: #eee;
      box-shadow: $default-element-inner-shadow;
      resize: none;
    }
    .bid-title {
      position: absolute;
      top: 1.5rem;
      left: 2.5rem;
      font-size: 2rem;
      letter-spacing: 0.1rem;
    }
    button {
      color: #fff;
      width: 30%;
      border-style: none;
      padding: 0.5rem;
      background: $main-gradient;
      border-radius: 2rem;
    }
  }
}

.bids-active {
  padding: 0;
  display: flex;
  font-size: 1.5rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  h3 {
    padding: 0;
    margin: 0;
    font-weight: 100 !important;
  }
  .transactions-section {
    height: 100%;
    .transactions-subnav {
      height: 100%;
    }
  }
}

.bid {
  width: 40%;
  margin-top: 3rem;
  height: 270px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.3);

  .product-item {
    padding: 0;
    width: 400px;
    height: 300px;
  }

  .bid-message {
    align-self: flex-start;
    .bid-card-message-title {
      font-weight: 600 !important;
      font-size: 1rem;
      text-align: start;
    }
    .bid-card-message-text {
      font-weight: 200 !important;
      font-size: 1.3rem;
      font-style: italic;
      text-align: start;
    }
  }

  .bid-card-price-title {
    font-weight: 600 !important;
    text-align: end;
  }

  .bid-card-price-amount {
    color: $primary-color;
    font-weight: 800 !important;
    text-align: end;
  }
  .bid-card {
    color: rgb(42, 42, 42);

    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 1rem;
    width: 50%;
    height: 100%;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-size: 1em;
      margin: 0;
    }
    h3 {
      font-size: 1.2em;
      font-weight: 300;
    }
    .bid-card-message-tilte {
      font-size: 0.5em !important;
      align-self: flex-start;
    }
    .product-card-owner-icons {
      justify-content: space-between;
      h3 {
        font-size: 1rem;
        margin-bottom: 0;
        margin-right: 1em;
        align-self: center;
      }
      button {
        margin: 0;
      }
      display: flex;
    }
  }

  .product-card {
    display: flex;
    flex-direction: column;
    transition: 0.2s ease-in-out;
    .product-card-img {
      border-radius: 0rem;
    }
    .product-card-info {
      .product-card-info-name-price {
        font-size: 0.1rem;
      }
      flex-grow: 1;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      overflow: hidden;
      .product-card-info-user-icons {
        display: none;
      }
    }
  }
}
