.select-search__input {
  display: block;
  height: 25px;
  width: 100%;
  padding: 0 40px 0 16px;
  background: #fff;
  border: 1px solid transparent;
  box-shadow: 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  outline: none;
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
  text-align: center;
  text-overflow: ellipsis;
  line-height: 36px;
  -webkit-appearance: none;
}

.select-search__select {
  background: #fff;
  box-shadow: 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.15);
}
.select-search__options {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.select-search__row {
  border-top: 1px solid #eee;
  width: 200px;
}

.select-search__option,
.select-search__not-found {
  display: inline-block;
  height: 30px;
  width: 100%;
  padding: 0 16px;
  background: #fff;
  border: none;
  outline: none;
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
  text-align: start;
  cursor: pointer;
}

.select-search__input::-webkit-search-decoration,
.select-search__input::-webkit-search-cancel-button,
.select-search__input::-webkit-search-results-button,
.select-search__input::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.select-search__input:not([readonly]):focus {
  cursor: initial;
}

.select-search__option.is-selected {
  background: #743c6c;
  color: #fff;
}

.select-search__option.is-highlighted,
.select-search__option:not(.is-selected):hover {
  background: #6c39678a;
  color: white;
}

.select-search__option.is-highlighted.is-selected,
.select-search__option.is-selected:hover {
  background: #6c3967c0;
  color: #fff;
}
