.transactions-main {
  width: 100%;
  .transactions-navbar {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 2rem;
  }
}

.transactions-navbar-item {
  padding: 0.2rem 3rem;
  background-color: aqua;
}

.transactions-subnav {
  ul {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
