.transactions-main {
  width: 100%;
  margin: 0;
  padding: 0;

  ul {
    list-style: none;
  }

  a {
    h2 {
      font-size: 1.2rem;

      font-weight: 500;
    }
    text-decoration: none;
    background-color: rgb(221, 221, 221);
  }

  a:hover,
  .selected {
    color: #fff;
    background: linear-gradient(
      0deg,
      rgba(45, 19, 66, 1) 1%,
      rgba(147, 38, 131, 1) 100%
    );
  }

  .transactions-navbar {
    position: sticky;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
  }
  .transactions-navbar .transactions-navbar-item {
    height: 3rem;
    grid-column: 2 / 5;
    padding-top: 0.2em;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    h2 {
      font-size: 1.3rem;
      font-weight: 700;
      margin-inline: 0;
      margin-block: 0;
    }
  }

  .transactions-navbar-item {
    padding: 0.2em 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    h2 {
      margin-inline: 0;
      margin-block: 0;
    }
  }
}

.transactions-subnav {
  .transactions-bids-navbar {
    a {
      width: 30vw;
    }
    display: flex;
  }
  display: flex;
  flex-direction: column;
  ul {
    :first-child {
      border-bottom-left-radius: 0.5rem;
    }
    :last-child {
      border-bottom-right-radius: 0.5rem;
    }
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
  }
}
