@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");

@font-face {
  font-family: PixelDust;
  src: url("./fonts/pixeldu.ttf");
}

body {
  padding: 100px 0 0 0;
  box-sizing: border-box;
  margin: 0;
  @media screen and (max-width: 1400px) {
    font-size: 0.8rem;
  }

  //   background: url('https://www.toptal.com/designers/subtlepatterns/patterns/confectionary.png');
  background: url("https://www.toptal.com/designers/subtlepatterns/patterns/playstation-pattern.png");
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*:focus {
  outline: none;
}

.main {
  box-sizing: border-box;
  height: calc(90vh - 100px);
  .catalogue:last-child {
    padding-bottom: 6rem;
  }
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

//general
$default-element-margin: 1rem;
$default-element-inner-shadow: inset 2px 2px 15px 5px #dddddd;

// Text Sizes
$modal-title-size: 1.6rem;
$modal-sub-title-size: 1.2rem;
$modal-price-text-size: 1.2rem;

// Text Styles
$modal-title-weight: 800;
$modal-sub-title-weight: 400;
$modal-price-text-weight: 400;
$font-welcome-slogan: "PixelDust", sans-serif;

$main-color-1: rgb(147, 38, 131);
$main-color-2: rgb(45, 19, 66);
$main-color-3: #ebd454;
$main-color-4: #d6597c;

$shadow-1: 3px 3px 2px 5px rgba(0, 0, 0, 0.5);
$shadow-basic: 1px 1px 2px 0px rgba(0, 0, 0, 0.8);

$default-box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.4);
$photo-box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.3);

$main-gradient: linear-gradient(
  0deg,
  rgba(147, 38, 131, 1) 0%,
  rgba(45, 19, 66, 1) 30%,
  rgba(24, 15, 53, 1) 100%
);

$angle-gradient: linear-gradient(
  45deg,
  rgba(147, 38, 131, 1) 0%,
  rgba(45, 19, 66, 1) 30%,
  rgba(24, 15, 53, 1) 100%
);

$reversed-gradient: linear-gradient(
  0deg,
  rgba(24, 15, 53, 1) 0%,
  rgba(45, 19, 66, 1) 30%,
  rgba(147, 38, 131, 1) 100%
);

$primary-color: #88236b;

$icon-size: 35px;
$border-radius: 0.5; //15% = 0.15, 50% = 0.50 etc.

$background: #2d2c3e;
$background-b: #2d2c3e;

// Icon Colors
$green: #16a085;
$red: #c82647;
$green-l: #8cc63f;
$orange: #eb9532;
$purple: #7e3661;
$yellow: #d85261;

// Text
$white: #ffffff;

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.error-message {
  color: red;
  margin-top: 2rem;
}

.error-message {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}
a:link {
  color: $primary-color;
}
// MODELS
@import "./Models/Modal";
@import "./Models/Titles";
@import "./Models/Buttons";
@import "./Models/Loader";
@import "./Models/Icons";
//
@import "./WelcomePage";
@import "./MainBackground";
@import "./Navbar";
@import "./Products/Products";
@import "./Register";
@import "./Bid";
@import "./Select";
@import "./Transactions";
@import "./PublicProfile";
@import "./Notifications";
@import "./Footer";
@import "./LanguageSelector";
@import "./Reviews";

// PROFILE
@import "./User/User-login-register";
@import "./User/User-private-page";
@import "./User/Profile-management";
@import "./User/Profile-chat";
//
@import "~react-image-gallery/styles/scss/image-gallery.scss";
