.navbar-container {
  position: sticky;
  color: white;
  height: 6rem;
  background: rgb(147, 38, 131);
  background: linear-gradient(
    0deg,
    rgba(147, 38, 131, 1) 0%,
    rgba(45, 19, 66, 1) 30%,
    rgba(24, 15, 53, 1) 100%
  );
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  min-width: 7rem;
  padding: 0 2rem;
}

.right-navbar .upper {
  display: flex;
  padding-right: 2rem;
  height: 4rem;
  width: 90vw;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.search-bar input {
  height: 2rem;
  min-width: 15rem;
  padding-left: 2rem;
  border-style: none;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
.search-bar button {
  height: 2.13rem;
  background-color: white;
  border-style: none;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

input:focus {
  outline: none;
}

.right-navbar .lower {
  background: rgb(147, 38, 131);
  background: linear-gradient(
    0deg,
    rgba(45, 19, 66, 0.5) 1%,
    rgba(147, 38, 131, 1) 100%
  );
  height: 2rem;
  border-top-left-radius: 1rem;
  padding: 1;
}

.search,
.search-bar,
.categories,
.user-nav,
.user {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-nav {
  width: 20%;
  gap: 2rem;
}

.sell-button {
  padding: 0 1rem;
  background-color: rgb(236, 181, 0);
  color: black;
  border-radius: 1rem;
}

.categories {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  height: 4rem;
  gap: 0rem;
  color: #fff;
  font-size: 0.8rem;
}

.categories > * {
  padding: 0 2rem;
}

.categories > :hover {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-weight: bolder;
  background-color: blue;
}
