.modal-bg {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 5;

  .login-exit {
    position: absolute;
    bottom: 115px;
    cursor: pointer;
    color: $main-color-1;
    font-size: 2rem;
  }
}
.modal-fg {
  position: absolute;
  top: 10px;
  padding: 5rem 3rem 1rem 3rem;
  margin: 5rem 5rem 5rem 5rem;
  background-color: white;
  border-radius: 30px;
  box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 700px;
  max-width: 360px;
  #review-fg {
    width: 800px;
    max-width: 1000px;
  }
  #register-modal {
    width: 600px;
    max-width: 600px;
  }
}

.modal-fg .modal-title {
  position: absolute;
  top: 1.5rem;
  left: 2.5rem;
  font-size: 2rem;
  letter-spacing: 0.1rem;
}

.modal-fg .modal-inputs-container {
  display: flex;
  justify-content: space-around;
}

.modal-fg .modal-inputs {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.modal-fg .modal-inputs label {
  align-self: flex-start;
  font-weight: 500;
  margin-bottom: 0.5rem;
  margin-top: 2.5rem;
}

.modal-fg .modal-inputs > .modal-field {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 0 0 1rem;
  margin-left: 0.5rem;
  border-bottom: 1px solid black;
}

.modal-fg input {
  border-style: hidden;
  background-color: white;
  padding: 3px 1rem;
}

.modal-fg .modal-options-container {
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
}
.modal-fg .modal-options {
  cursor: pointer;
  border: none;
  background: none;
  padding: 0 1rem;
  margin-top: 1rem;
}
.modal-fg .modal-options:hover {
  font-weight: bolder;
}

.modal-fg .login-logo {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}
